/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #8c8cf9;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8c8cf9;
  --ion-color-primary-tint: #8c8cf9;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #00a82d;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a82d;
  --ion-color-success-tint: #00a82d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** SALONI WORK **/
  --ion-color-purple: #5c6ac4;
  --ion-color-green: #00a82d;
  --text-white: #fff;
  --text-green: #00a82d;
  --head1clr: #444f60;
  --smltxtclr: #8e9baf;
  --smltxtclr1: #444f60;
  --text-black: black;
  --text-gray: #696969;
  --footclr: #f5f6fa;
  --lggray: #eff4f7;
  // --headbgclr:#f5f6fa;
}
//////////////////////// SALONI WORK ///////////////////////////
.mt-1 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.mt-4 {
  margin-top: 2rem !important;
}
.mb-4 {
  margin-bottom: 2rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
//.ml-2{padding-left:1rem !important;}
.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.ml-4 {
  margin-left: 2rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.mr-2 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 2rem !important;
}
.ml-2 {
  margin-left: 1rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pl-0 {
  padding-left: 0rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pt-0 {
  padding-top: 0rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pt-4 {
  padding-top: 2rem !important;
}
.pb-4 {
  padding-bottom: 2rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.pt-7 {
  padding-top: 5rem !important;
}
.pb-7 {
  padding-bottom: 5rem !important;
}
.text-center {
  text-align: center;
}
.bg-grey {
  background-color: #696969 !important;
}
.bg-black {
  background-color: black !important;
}
.bg-white {
  background-color: white;
}
.font-64 {
  font-size: 64px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-12 {
  font-size: 12px !important;
  font-family: "Soleil", Helvetica, Arial, sans-serif !important;
}
h1 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 51px !important;
  font-weight: 400;
  color: var(--head1clr);
  //color:#444f60;
  //color: #222 !important;
  -webkit-font-smoothing: antialiased !important;
}
h2 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 42px !important;
  font-weight: 400;
  color: var(--head1clr);
  //color:#444f60;
  //color: #222 !important;
  -webkit-font-smoothing: antialiased !important;
}
h3 {
  color: var(--head1clr);
  //color:#444f60;
  //color: #000;
  font-size: 36px !important;
  font-weight: normal !important;
  letter-spacing: 0 !important;
  line-height: 150% !important;
  margin: 10px 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
h5 {
  color: var(--head1clr);
  font-weight: normal !important;
  letter-spacing: 0 !important;
  line-height: 150% !important;
  margin: 10px 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
.sml-text {
  color: var(--smltxtclr);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 150%;
  -webkit-font-smoothing: antialiased !important;
}
.sml-text1 {
  color: var(--smltxtclr1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 150%;
  -webkit-font-smoothing: antialiased !important;
}
.header1_img {
  height: 360px;
  width: 492px;
  margin-right: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 40px !important;
    font-weight: 200;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .header1_img {
    height: 341px !important;
    width: 333px !important;
  }
}
/////////////////////////////////////////////////////////////////

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
